<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="kr.co.hotel_admin.mapper.BookMapper">
 	
 	<select id="list" resultType="kr.co.hotel_admin.vo.BookVO">
 		select b.*, b, substring(b.salescode,7,2) as day, m.name as username, m.phone as phone from book as b, member as m
 	
 	</select> 
 	
 	  <select id="exceptroom" resultType="kr.co.hotel_admin.vo.RoomVO">
 	<![CDATA[
 		select room.*, 
		(select count(*) from book 
		where checkin <=#{param1} 
		and #{param2} >= checkout 
		and room.name=book.room) as chk 
		from room;
 		]]> 
 	</select>
 	
 	<select id="book1" resultType="kr.co.hotel_admin.vo.RoomVO">
 	<![CDATA[
 		select room.*, 
		(select count(*) from book 
		where checkin <=#{param1} 
		and #{param2} >= checkout 
		and room.name=book.room) as chk 
		from room;
 		]]> 
 	</select>
 	 
 	 <select id="book2" resultType="kr.co.hotel_admin.vo.RoomVO">
 		select * from room where name=#{room} 			
 	</select>
 	
 	<insert id="makebook" parameterType="kr.co.hotel_admin.vo.BookVO">
 		insert into book(person,room,breakfast,totalprice,salescode,userid,checkin,checkout,add_needs,name,pay_method,pay_state,writeday)
 		values(#{person},#{room},#{breakfast},#{totalprice},#{salescode},#{userid},#{checkin},#{checkout},#{add_needs},#{name},#{pay_method},#{pay_state},now())
 	</insert>
 	 
 	<select id="getCode" resultType="Integer">
 		select ifnull(substring(max(salescode),9,2),"0") from book where salescode like concat(#{param1},'%')
 	</select>
 	
 	<select id="book3" resultType="kr.co.hotel_admin.vo.BookVO">
 		select * from book where salescode=#{param1}
 	</select>
 	
 	<select id="list1" resultType="kr.co.hotel_admin.vo.BookVO">
 		select * from book where userid=#{param1} order by checkin asc
 	</select>
 	
 	
 	<update id="book_cancel">
 		update book set pay_state=3 where salescode=#{param1}
 	</update> 
 	
 	
 </mapper>