<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="kr.co.hotel_admin.mapper.BookMapper">
 	<select id="list" resultType="kr.co.hotel_admin.vo.BookVO">
 		select b.*, m.name as username, m.phone as phone from book as b, member as m
 	
 	</select> 
 </mapper>